@font-face {
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Bold'), url('../fonts/Nexa Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa Light';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Light'), url('../fonts/Nexa Light.otf') format('opentype');
}

body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 75%;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
    background: none;
    border: none;
    box-shadow: none;
    z-index: 1000;
}

.navbar-item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    align-items: center;
}

/* !important tags to overwrite the Semantic UI defaults */
.navbar-item {
    background-color: #0e0e0e !important;
    margin: 10px 0 10px 30px;
    text-transform: uppercase !important;
    font-family: 'Nexa Light';
    font-size: 1.2em;
    padding: 0.8em 0.9em 0.8em 1.2em !important;
    letter-spacing: 0.3em;
    color: #f1f1f1 !important;
}

@media only screen and (max-width: 900px) {
    .navbar-item a {
        font-size: 0.8em;
        padding: 0.6em 1em;
    }
}