.ui.container.committee-container {
    padding-top: 50px;
    justify-content: center;
    width: 80%;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 60%;
}

/* Image here must be square */
.ui.tiny.committee-logo {
    width: 70px;
    height: auto;
}

.ui.circular.label {
    margin-bottom: 50px;
    margin-left: 50px;
}

.committee-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.committee-fields > p {
    text-align: left;
    color: #838383;
    margin-bottom: 6px;
}

.ui.label {
    font-family: 'Arial';
    font-weight: lighter;
}

.ui.primary.button {
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    .ui.tiny.committee-logo {
        display: none;
    }
}
