.mobile-container {
	width: 90%;
	margin: 100px auto;
}

.mobile-div {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	overflow: hidden;
	max-height: 60px;
}

.mobile-div:active {
	filter: brightness(50%);
}

.mobile-div img {
	object-fit: cover;
	width: 100%;
	height: auto;
}

.mobile-div .mobile-title {
	position: absolute;
	top: 10px;
	color: white;
}

@media only screen and (max-width: 400px) {
	.mobile-div .mobile-title h1{
		font-size: 20px !important;
	}
}
