.mobile-container {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100vh;
}

.mobile-div {
	display: flex;
	justify-content: flex-end;
	background-color: black;
	background-position: center top;
	position: relative;
	overflow: hidden;
	flex: 1 1;
	border-radius: 2px;
}

.mobile-div:active {
	filter: brightness(50%);
}

.mobile-div img {
	object-fit: contain;
	height: auto;
}

.mobile-div .mobile-title {
	align-self: flex-end;
	margin: 0px 15px 10px 0px;
	color: white;
	text-shadow: 0.5px 0.5px 1px black;
}

@media only screen and (max-width: 400px) {
	.mobile-div .mobile-title h1{
		font-size: 20px !important;
	}
}
