#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    height: 120px;
    background: none;
    border: none;
    box-shadow: none;
    z-index: 1000;
}

.navbar-item-text {
    text-transform: uppercase !important;
    font-family: 'Nexa Light';
}

/* !important tags to overwrite the Semantic UI defaults */
.navbar-item {
    background-color: #0e0e0e !important;
    margin: 10px 0 10px 30px;
    font-size: 1.2em;
    padding: 0.8em 0.9em 0.8em 1.2em !important;
    letter-spacing: 0.3em;
    color: #f1f1f1 !important;
}

.navbar-logo-mobile {
    margin: 20px auto;
}

.ui.visible.sidebar {
    width: 50% !important;
}
