/* generic stuff and for mobile screens*/
.row {
	display: flex;
	flex-direction: column !important;
	justify-content: space-between;
	margin: 10px 5px;
}

.dropdown-div {
	display: flex;
	flex-flow: column;
}

.dropdown {
	flex: 1;
	margin-bottom: 10px;
}

.dropdown-label {
	text-align: left;
	color: rgba(0, 0, 0, 0.54);
	padding: 0;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1;
	transform: translate(0, 1.5px) scale(0.75);
	align-self: flex-start;
	margin-bottom: 5px;
}

.personal-info-container {
	flex-flow: row !important;
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
	width: 100%;
}

.personal-info-form {
	max-width: 80%;
	margin: 0px 50px;
}

.glitter-pics {
	display: none;
}

.glitter-pics > img {
	margin: 5px;
}

.basic-info-container {
	margin-bottom: 10px;
}

/* for mobile phone screens */
@media only screen and (max-width: 768px) {
	.ui.container.personal-info-container {
		margin-top: 50px;
	}
}


/* for big desktop screens */
@media only screen and (min-width: 768px) {
	.row {
		flex-direction: row !important;
	}

	.text-field:first-child {
		margin-left: 0px !important;
	}

	.text-field {
		margin: 0px 10px !important;
	}

	.text-field:last-child {
		margin-right: 0px !important;
	}

	.last-name {
		flex: 5;
	}

	.middle-initial {
		flex: 1;
	}

	.first-name {
		flex: 7;
	}

	.nickname {
		flex: 5;
	}

	.student-number {
		flex: 3;
	}

	.birthday {
		flex: 3;
	}

	.email {
		flex: 6;
	}

	.contact-number {
		flex: 6;
	}

	.address {
		flex: 12;
	}

}

@media only screen and (min-width: 900px)
{
	.glitter-pics {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		flex-shrink: 0;
	}
}
