/* generic stuff and for desktop screens*/
.row {
	display: flex;
	justify-content: space-between;
	margin: 10px 5px;
	flex-direction: row !important;
}

.text-field:first-child {
	margin-left: 0px !important;
}

.text-field {
	margin: 0px 10px !important;
}

.text-field:last-child {
	margin-right: 0px !important;
}

.last-name {
	flex: 5;
}

.middle-initial {
	flex: 1;
}

.first-name {
	flex: 7;
}

.nickname {
	flex: 5;
}

.student-number {
	flex: 3;
}

.birthday {
	flex: 3;
}

.email {
	flex: 6;
}

.contact-number {
	flex: 6;
}

.address {
	flex: 12;
}

.dropdown-div {
	display: flex;
	flex-flow: column;
}

.dropdown {
	flex: 1;
	margin-bottom: 10px;
}

.dropdown-label {
	text-align: left;
	color: rgba(0, 0, 0, 0.54);
	padding: 0;
	font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1;
	transform: translate(0, 1.5px) scale(0.75);
	align-self: flex-start;
	margin-bottom: 5px;
}

.personal-info-container {
	flex-flow: row !important;
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
	width: 85% !important;
}

.personal-info-form {
	max-width: 80%;
	margin: 0px 40px;
}

.glitter-pics {
	height: 60vh;
	display: flex;
	min-width: 120px;
	flex-flow: column;
	justify-content: space-between;
}

.glitter-pics > img {
	min-width: 70px !important;
	margin: 5px 5px 25px 5px;
}

.basic-info-container {
	margin-bottom: 10px;
}

/* for small desktop screens */
@media only screen and (max-width: 900px) {
	.glitter-pics {
		display: none;
	}
}

/* for mobile phone screens */
@media only screen and (max-width: 768px) {
	.row {
		flex-direction: column !important;
		align-items: stretch;
		margin: 0px;
	}

	.ui.container.personal-info-container {
		margin-top: 50px;
	}

	.text-field:first-child {
		margin-left: 10px !important;
	}

	.text-field {
		margin-bottom: 5px !important;
	}

	.text-field:last-child {
		margin-right: 10px !important;
	}

}
