.main-modal {
	height: 75vh;
	width: 65%;
}

.main-modal .modal-img {
	height: 30vh;
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.main-modal .modal-header {
	font-size: 32px !important;
}

.main-modal .modal-content {
	overflow: auto;
	height: 45vh !important;
}
