.submit-modal .modal-header,
.error-modal .modal-header {
    text-align: left;
    font-size: 2em !important;
    font-family: 'Nexa Bold' !important;
}

.submit-modal .modal-subcontent,
.error-modal .modal-subcontent {
    padding: 20px 2px 18px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-modal .modal-subcontent {
    width: 75%;
}

.submit-modal .description {
    font-size: 1.2em;
    text-align: justify;
}

/* Separate styles for the error modal */

.error-modal .content {
    display: flex !important;
}

.submit-modal .modal-img,
.error-modal .modal-img {
    display: flex !important;
}

.submit-modal .modal-img img,
.error-modal .modal-img img {
    align-self: center;
}

.error-modal .modal-header {
    font-size: 1.5em !important;
}

.error-modal .description {
    font-size: 1em;
}

.error-modal .description h3 {
    font-family: 'Nexa Bold';
    font-size: 1.2em;
    margin-bottom: 0px;
}

.error-modal .description ul {
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    .submit-modal .modal-content {
        height: 100% !important;
    }

    .submit-modal .modal-subcontent {
        width: 100%;
        padding: 20px;
    }

    .submit-modal .modal-header {
        font-size: 2em !important;
    }

    .submit-modal .modal-img img {
        position: relative;
        height: 20vh;
        width: auto;
        margin: 0 auto;
        bottom: -20px;
    }

    .submit-modal .description {
        font-size: 1em;
    }
}