@font-face {
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Bold'), url('../fonts/Nexa Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa Light';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Light'), url('../fonts/Nexa Light.otf') format('opentype');
}

@font-face {
    font-family: 'Handletterink';
    font-style: normal;
    font-weight: normal;
    src: local('Handletterink'), url('../fonts/Handletterink.otf') format('opentype');
}

@font-face {
    font-family: 'Oswald-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-Bold'), url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-ExtraLight'), url('../fonts/Oswald-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-Light'), url('../fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-Medium'), url('../fonts/Oswald-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-Regular'), url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald-SemiBold'), url('../fonts/Oswald-SemiBold.ttf') format('truetype');
}

html,body {
    margin: 0;
}

/* This the code snippet for landing page bg */
body {
    background-image: url('../images/landing_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 900px) {
    .navbar-item a {
        font-size: 0.8em;
        padding: 0.6em 1em;
    }
}