@font-face {
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Bold'), url('../fonts/Nexa Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa Light';
    font-style: normal;
    font-weight: normal;
    src: local('Nexa Light'), url('../fonts/Nexa Light.otf') format('opentype');
}

@font-face {
    font-family: 'Handletterink';
    font-style: normal;
    font-weight: normal;
    src: local('Handletterink'), url('../fonts/Handletterink.otf') format('opentype');
}

html,body {
    margin: 0;
}

body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 75%;
}

@media only screen and (max-width: 900px) {
    .navbar-item a {
        font-size: 0.8em;
        padding: 0.6em 1em;
    }
}