.ui.container.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 60px;
}

.main-title {
    font-family: 'Oswald-ExtraLight';
    font-size: 130px;
    margin-top: -10px;
    color: #F6CE42;
}

.sub-title {
    font-family: 'Oswald-ExtraLight';
    font-size: 30px;
    margin-bottom: -20px;
    letter-spacing: 3px;
    color: #00C6D7;
}

.chevron-button {
    color: #FFFFFF;
    margin-left: 2px;
}

.chevron-button:hover {
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .main-title {
        font-family: 'Oswald-ExtraLight';
        font-size: 60px;
        margin-bottom: -6px;
    }

    .sub-title {
        font-family: 'Oswald-ExtraLight';
        font-size: 20px;
        margin-bottom: -3px;
    }
}
