.ui.modal.main-modal {
	width: 45%;
}

.ui.modal .modal-img {
	height: 30vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.ui.modal .modal-header {
	font-size: 35px;
	text-align: left;
}

.ui.modal .modal-content {
	font-size: 18px;
	text-align: left;
}

@media only screen and (max-width:768px) {
	.ui.modal.main-modal {
		width: 85%;
	}

	.ui.modal .modal-header {
		font-size: 30px;
		text-align: left;
	}
	
	.ui.modal .modal-content {
		font-size: 18px;
		text-align: left;
	}
}
